<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <div>
    <img
    id="profile-img"
    src="<%= profile.avatar %>"
    alt="<%= profile.name %>'s avatar"
    >
  </div>

  <h1> <%= `${profile.name}'s profile` %> </h1>
  

  <% if (profile.albums.length) {%>
    <table>
      <thead>
        <tr>
          <th></th>
          <% if (isSelf) {%> 
            <th></th>
          <% } %> 
          <th>Album Name</th>
          <th>Artist Name</th>
          <th>Release Date</th>
        </tr>
      </thead>
    <tbody>
      <% profile.albums.forEach(album => { %>
        <tr>
          <td>
            <a href="/profiles/<%= profile._id %>/albums/<%= album._id %>">
            <button class="button-1" role="button">Show</button>
          </a>
          </td>
          <% if (isSelf) { %>
            <td>
            <form
            action="/profiles/albums/<%= album._id %>?_method=DELETE"
            method="post"
            >
              <button type="submit" class="button-1" role="button">Delete</button>
            </form>
          </td>
            <% } %>
          <td><%= album.albumName %></td>
          <td><%= album.artistName %></td>
          <td><%= album.releaseDate.toDateString() %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else { %>
    <h3 id="no-albums">No Albums Yet :/</h3>
    <%= isSelf ? "Consider adding one?" : "" %> 
  <% } %>
  <% if (isSelf) { %>
    
  <% } else { %>
    <div id="comments-inp-cont">
      <h3>Leave a Comment!</h3>
      <form id="comment-form" 
      action="/profiles/<%= profile._id %>/comments" 
      method="post"
      >
        <input type="text" name="content" placeholder="I love your music taste!" id="comment-input">
        <button type="submit" class="button-1" role="button" id="comment-button">Post</button>
      </form>
    </div>
    <% } %>
    <div id="comments-container">
      <% profile.comments.forEach(comment => { %>
        <div id="comments">
          <div id="avatar-name">
            <img
            id="commenter-prof-img"
            src="<%= comment.commenter.avatar %>"
            alt="<%= comment.commenter.name %>'s avatar"
            >
            <h3><%= comment.commenter.name %></h3>
          </div>
          <p id="comment-content"><%= comment.content %></p>
        </div>
        <% if (isSelf) { %>
          <form
          action="/profiles/<%= profile._id %>/comments/<%= comment._id %>?_method=DELETE"
          method="post"
          >
          <button type="submit">Delete Comment</button>
          </form>
        <% } %> 
      <% }) %>
    </div>

</main>

<%- include('../partials/footer') %>