<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <div>
    <img
    id="profile-img"
    src="<%= profile.avatar %>"
    alt="<%= profile.name %>'s avatar"
    >
  </div>

  <h1> <%= `${profile.name}'s profile` %> </h1>
  

  <% if (profile.albums.length) {%>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Album Name</th>
          <th>Artist Name</th>
          <th>Release Date</th>
        </tr>
      </thead>
    <tbody>
      <% profile.albums.forEach(album => { %>
        <tr>
          <td>
            <a href="/profile/<%= album._id %>">Show Airline</a>
          </td>
          <td>
            <form 
        action="/profiles/<%= album._id %>?_method=DELETE" 
        method="POST"
        class="delete-form"
            >
              <button type="submit">Delete Album</button>
            </form>
          </td>
          <td><%= album.albumName %></td>
          <td><%= album.artistName %></td>
          <td><%= album.releaseDate %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
    <% } else { %>
      <h3 id="no-albums">No Albums Yet :/</h3>
      <p>Consider adding one?</p>
    <% } %>
    
</main>

<%- include('../partials/footer') %>