<%- include('../partials/html-head')  %> 
<link rel="stylesheet" href="/stylesheets/albums/edit.css">
<%- include('../partials/nav')  %> 
<main>
  <h1 id="add-album"><%= title %></h1>
  <form 
  action="/profiles/<%= profile._id %>/albums/<%= album._id %>?_method=PUT" 
  method="post"
  >
    <label for="album-name">Album Name:</label>
    <input type="text" name="albumName" id="album-name" required>
    <label for="artist-name">Artist Name:</label>
    <input type="text" name="artistName" id="artist-name" required>
    <label for="release-date">Release Date:</label>
    <input type="date" name="releaseDate" id="release-date" required>
    <button type="submit">Edit Album</button>
  </form>
</main>
<%- include('../partials/footer')  %> 