<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/albums/show.css">
<%- include('../partials/nav') %>

<main>
  <h1 id="title"><%= title %></h1>
  <section id="album-details">
    <% if (isSelf) { %>
        <a
        href="/profiles/<%= profile._id %>/albums/<%= album._id %>/edit"
        >
        <button class="button-1" role="button" id="edit-alb-btn">Edit Album</button>
        </a>
    <% } %>
    <div>Album Name:</div>
    <div><%= album.albumName %></div>
    <div>Artist Name:</div>
    <div><%= album.artistName %></div>
    <div>Release Date:</div>
    <div><%= album.releaseDate.toDateString() %></div>
    <% if (isSelf) { %>
    <a
    href="/songs/new/<%= album._id %>"
    >
      <button class="button-1" role="button">Add Song</button>
    </a>
    <form 
    action="/profiles/<%= profile._id %>/albums/<%= album._id %>/songs" 
    method="POST"
    id="add-song" 
    >
      <select name="songId">
        <option value="" disabled selected>Choose a Song</option>
        <% myMusic.forEach(song => { %>
          <option value="<%= song._id %>"><%= song.songName %></option>
        <% }) %>
      </select>
      <button type="submit" class="button-1" role="button" id="add-album">Add to Album</button>
    </form>
    <% } %>
  </section>
  <section>
    <% if (album.songs.length) { %>

      <% album.songs.forEach((song)=> { %>
        <table>
          <caption>Songs:</caption>
          <thead>
            <tr>
              <% if (isSelf) { %>
                <td></td>
              <% } %>
              <td>Song Name:</td>
              <td>Track Number:</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% if (isSelf) { %>
                <td>
                  <form
                  action="/songs/<%= song._id %>/<%= album._id %>?_method=DELETE"
                  method="POST"
                  >
                    <button class="button-1" role="button">Delete Song</button>
                  </form>
                </td>
              <% } %>
              <td><%= song.songName %></td>
              <td><%= song.trackNo %></td>
            </tr>
          </tbody>
        </table>
      <% }) %>
      
    <% } else { %>

      <h2>No Songs Yet :/</h2>
      <% if (isSelf) { %>
        <p>Maybe add some?</p>
      <% } %>

    <% } %> 
  </section>
</main>

<%- include('../partials/footer') %>